<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxccc.employeeservice.dao.BaseInfoMapper">
  <resultMap id="BaseResultMap" type="com.qxccc.employeeservice.domain.BaseInfo">
    <id column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="USER_NATIVE" jdbcType="VARCHAR" property="userNative" />
    <result column="LIVE_CITY" jdbcType="VARCHAR" property="liveCity" />
    <result column="GENDER" jdbcType="CHAR" property="gender" />
    <result column="SAL" jdbcType="DOUBLE" property="sal" />
  </resultMap>
  <sql id="Base_Column_List">
    USER_ID, EMAIL, TEL, SID, USER_NATIVE, LIVE_CITY, GENDER, SAL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_info
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from base_info
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qxccc.employeeservice.domain.BaseInfo">
    insert into base_info (USER_ID, EMAIL, TEL, 
      SID, USER_NATIVE, LIVE_CITY, 
      GENDER, SAL)
    values (#{userId,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{sid,jdbcType=VARCHAR}, #{userNative,jdbcType=VARCHAR}, #{liveCity,jdbcType=VARCHAR}, 
      #{gender,jdbcType=CHAR}, #{sal,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.qxccc.employeeservice.domain.BaseInfo">
    insert into base_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="tel != null">
        TEL,
      </if>
      <if test="sid != null">
        SID,
      </if>
      <if test="userNative != null">
        USER_NATIVE,
      </if>
      <if test="liveCity != null">
        LIVE_CITY,
      </if>
      <if test="gender != null">
        GENDER,
      </if>
      <if test="sal != null">
        SAL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="userNative != null">
        #{userNative,jdbcType=VARCHAR},
      </if>
      <if test="liveCity != null">
        #{liveCity,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=CHAR},
      </if>
      <if test="sal != null">
        #{sal,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qxccc.employeeservice.domain.BaseInfo">
    update base_info
    <set>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        SID = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="userNative != null">
        USER_NATIVE = #{userNative,jdbcType=VARCHAR},
      </if>
      <if test="liveCity != null">
        LIVE_CITY = #{liveCity,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        GENDER = #{gender,jdbcType=CHAR},
      </if>
      <if test="sal != null">
        SAL = #{sal,jdbcType=DOUBLE},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qxccc.employeeservice.domain.BaseInfo">
    update base_info
    set EMAIL = #{email,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      SID = #{sid,jdbcType=VARCHAR},
      USER_NATIVE = #{userNative,jdbcType=VARCHAR},
      LIVE_CITY = #{liveCity,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=CHAR},
      SAL = #{sal,jdbcType=DOUBLE}
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.qxccc.employeeservice.domain.BaseInfo">
    <id column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="NATIVE" jdbcType="VARCHAR" property="native" />
    <result column="LIVE_CITY" jdbcType="VARCHAR" property="liveCity" />
    <result column="GENDER" jdbcType="CHAR" property="gender" />
    <result column="SAL" jdbcType="DOUBLE" property="sal" />
  </resultMap>
  <sql id="Base_Column_List">
    USER_ID, EMAIL, TEL, SID, NATIVE, LIVE_CITY, GENDER, SAL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_info
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from base_info
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qxccc.employeeservice.domain.BaseInfo">
    insert into base_info (USER_ID, EMAIL, TEL, 
      SID, NATIVE, LIVE_CITY, 
      GENDER, SAL)
    values (#{userId,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{sid,jdbcType=VARCHAR}, #{native,jdbcType=VARCHAR}, #{liveCity,jdbcType=VARCHAR}, 
      #{gender,jdbcType=CHAR}, #{sal,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.qxccc.employeeservice.domain.BaseInfo">
    insert into base_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="tel != null">
        TEL,
      </if>
      <if test="sid != null">
        SID,
      </if>
      <if test="native != null">
        NATIVE,
      </if>
      <if test="liveCity != null">
        LIVE_CITY,
      </if>
      <if test="gender != null">
        GENDER,
      </if>
      <if test="sal != null">
        SAL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="native != null">
        #{native,jdbcType=VARCHAR},
      </if>
      <if test="liveCity != null">
        #{liveCity,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=CHAR},
      </if>
      <if test="sal != null">
        #{sal,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qxccc.employeeservice.domain.BaseInfo">
    update base_info
    <set>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        SID = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="native != null">
        NATIVE = #{native,jdbcType=VARCHAR},
      </if>
      <if test="liveCity != null">
        LIVE_CITY = #{liveCity,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        GENDER = #{gender,jdbcType=CHAR},
      </if>
      <if test="sal != null">
        SAL = #{sal,jdbcType=DOUBLE},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qxccc.employeeservice.domain.BaseInfo">
    update base_info
    set EMAIL = #{email,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      SID = #{sid,jdbcType=VARCHAR},
      NATIVE = #{native,jdbcType=VARCHAR},
      LIVE_CITY = #{liveCity,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=CHAR},
      SAL = #{sal,jdbcType=DOUBLE}
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.qxccc.employeeservice.domain.BaseInfo">
    <id column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="NATIVE" jdbcType="VARCHAR" property="native" />
    <result column="LIVE_CITY" jdbcType="VARCHAR" property="liveCity" />
    <result column="GENDER" jdbcType="CHAR" property="gender" />
    <result column="SAL" jdbcType="DOUBLE" property="sal" />
  </resultMap>
  <sql id="Base_Column_List">
    USER_ID, EMAIL, TEL, SID, NATIVE, LIVE_CITY, GENDER, SAL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_info
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from base_info
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qxccc.employeeservice.domain.BaseInfo">
    insert into base_info (USER_ID, EMAIL, TEL, 
      SID, NATIVE, LIVE_CITY, 
      GENDER, SAL)
    values (#{userId,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{sid,jdbcType=VARCHAR}, #{native,jdbcType=VARCHAR}, #{liveCity,jdbcType=VARCHAR}, 
      #{gender,jdbcType=CHAR}, #{sal,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.qxccc.employeeservice.domain.BaseInfo">
    insert into base_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="tel != null">
        TEL,
      </if>
      <if test="sid != null">
        SID,
      </if>
      <if test="native != null">
        NATIVE,
      </if>
      <if test="liveCity != null">
        LIVE_CITY,
      </if>
      <if test="gender != null">
        GENDER,
      </if>
      <if test="sal != null">
        SAL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="native != null">
        #{native,jdbcType=VARCHAR},
      </if>
      <if test="liveCity != null">
        #{liveCity,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=CHAR},
      </if>
      <if test="sal != null">
        #{sal,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qxccc.employeeservice.domain.BaseInfo">
    update base_info
    <set>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        SID = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="native != null">
        NATIVE = #{native,jdbcType=VARCHAR},
      </if>
      <if test="liveCity != null">
        LIVE_CITY = #{liveCity,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        GENDER = #{gender,jdbcType=CHAR},
      </if>
      <if test="sal != null">
        SAL = #{sal,jdbcType=DOUBLE},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qxccc.employeeservice.domain.BaseInfo">
    update base_info
    set EMAIL = #{email,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      SID = #{sid,jdbcType=VARCHAR},
      NATIVE = #{native,jdbcType=VARCHAR},
      LIVE_CITY = #{liveCity,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=CHAR},
      SAL = #{sal,jdbcType=DOUBLE}
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>