<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qxccc.employeeservice.dao.DeptRoleLevelMapper" >
  <resultMap id="BaseResultMap" type="com.qxccc.employeeservice.domain.DeptRoleLevel" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DEPT_ROLE_ID" property="deptRoleId" jdbcType="INTEGER" />
    <result column="LEVEL_ID" property="levelId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DEPT_ROLE_ID, LEVEL_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dept_role_level
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dept_role_level
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qxccc.employeeservice.domain.DeptRoleLevel" >
    insert into dept_role_level (ID, DEPT_ROLE_ID, LEVEL_ID
      )
    values (#{id,jdbcType=INTEGER}, #{deptRoleId,jdbcType=INTEGER}, #{levelId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qxccc.employeeservice.domain.DeptRoleLevel" >
    insert into dept_role_level
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="deptRoleId != null" >
        DEPT_ROLE_ID,
      </if>
      <if test="levelId != null" >
        LEVEL_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deptRoleId != null" >
        #{deptRoleId,jdbcType=INTEGER},
      </if>
      <if test="levelId != null" >
        #{levelId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qxccc.employeeservice.domain.DeptRoleLevel" >
    update dept_role_level
    <set >
      <if test="deptRoleId != null" >
        DEPT_ROLE_ID = #{deptRoleId,jdbcType=INTEGER},
      </if>
      <if test="levelId != null" >
        LEVEL_ID = #{levelId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qxccc.employeeservice.domain.DeptRoleLevel" >
    update dept_role_level
    set DEPT_ROLE_ID = #{deptRoleId,jdbcType=INTEGER},
      LEVEL_ID = #{levelId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>