<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qxccc.employeeservice.dao.LevelMapper" >
  <resultMap id="BaseResultMap" type="com.qxccc.employeeservice.domain.Level" >
    <id column="LEVEL_ID" property="levelId" jdbcType="INTEGER" />
    <result column="LEVEL_NAME" property="levelName" jdbcType="VARCHAR" />
    <result column="MAX_SAL" property="maxSal" jdbcType="DOUBLE" />
    <result column="FLOAT_RATE" property="floatRate" jdbcType="DOUBLE" />
    <result column="STATE" property="state" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    LEVEL_ID, LEVEL_NAME, MAX_SAL, FLOAT_RATE, STATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from level
    where LEVEL_ID = #{levelId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from level
    where LEVEL_ID = #{levelId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qxccc.employeeservice.domain.Level" >
    insert into level (LEVEL_ID, LEVEL_NAME, MAX_SAL, 
      FLOAT_RATE, STATE)
    values (#{levelId,jdbcType=INTEGER}, #{levelName,jdbcType=VARCHAR}, #{maxSal,jdbcType=DOUBLE}, 
      #{floatRate,jdbcType=DOUBLE}, #{state,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qxccc.employeeservice.domain.Level" >
    insert into level
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="levelId != null" >
        LEVEL_ID,
      </if>
      <if test="levelName != null" >
        LEVEL_NAME,
      </if>
      <if test="maxSal != null" >
        MAX_SAL,
      </if>
      <if test="floatRate != null" >
        FLOAT_RATE,
      </if>
      <if test="state != null" >
        STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="levelId != null" >
        #{levelId,jdbcType=INTEGER},
      </if>
      <if test="levelName != null" >
        #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="maxSal != null" >
        #{maxSal,jdbcType=DOUBLE},
      </if>
      <if test="floatRate != null" >
        #{floatRate,jdbcType=DOUBLE},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qxccc.employeeservice.domain.Level" >
    update level
    <set >
      <if test="levelName != null" >
        LEVEL_NAME = #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="maxSal != null" >
        MAX_SAL = #{maxSal,jdbcType=DOUBLE},
      </if>
      <if test="floatRate != null" >
        FLOAT_RATE = #{floatRate,jdbcType=DOUBLE},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=CHAR},
      </if>
    </set>
    where LEVEL_ID = #{levelId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qxccc.employeeservice.domain.Level" >
    update level
    set LEVEL_NAME = #{levelName,jdbcType=VARCHAR},
      MAX_SAL = #{maxSal,jdbcType=DOUBLE},
      FLOAT_RATE = #{floatRate,jdbcType=DOUBLE},
      STATE = #{state,jdbcType=CHAR}
    where LEVEL_ID = #{levelId,jdbcType=INTEGER}
  </update>
</mapper>